/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
	list-style: none;
}

/* Set core root defaults */
html:focus-within {
	scroll-behavior: smooth;
}

/* Set core body defaults */
body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
	font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}
/*-------------------------------------------------------------------------------------------*/
div-center {
	height: 100%;
	width: 100%;
	background: red;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

/* Position text in the top-left corner */
.topleft {
	position: absolute;
	top: 0;
	left: 1%;
}

/* Position text in the bottom-left corner */
.bottomleft {
	position: absolute;
	bottom: 0;
	left: 1%;
}

/* Position text in the middle */
.middle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.bgcolor {
	/* Background image , replace shit after : with image path to use image*/
	background-image: linear-gradient(135deg, #2af598, #08aeea); /* Full-screen */
	height: 100%;
	/* Center the background image */
	background-position: center;
	/* Scale and zoom in the image */
	background-size: cover;
	/* Add position: relative to enable absolutely positioned elements inside the image (place text) */
	position: relative;
	/* Add a white text color to all elements inside the .bgimg container */
	color: rgb(84, 84, 84);
	/* Add a font */
	font-family: "Avanta Garde", Times, monospace;
	/* Set the font-size to 25 pixels */
	font-size: 3.3vw;
}
/* Style the <hr> element */
hr {
	margin: auto;
	width: 40%;
}
/* Set height to 100% for body and html to enable the background image to cover the whole page: */
body,
html {
	height: 100%;
}

@media (hover: hover) {
	/* targets only hoverable devices */
	.card:hover .card__content {
		transform: rotateY(-0.5turn);
	}
}
@media (hover: none) {
	/* targets only non-hoverable devices */
	.card:hover .card__content {
		transform: rotateY(-0.5turn);
	}
}
