/*-------------------------------------------------------------------------------------------*/
/* fluid spacing*/
/*-------------------------------------------------------------------------------------------*/
/* @link https://utopia.fyi/space/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
:root {
	--fluid-min-width: 320;
	--fluid-max-width: 1140;

	--fluid-screen: 100vw;
	--fluid-bp: calc(
		(var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
			(var(--fluid-max-width) - var(--fluid-min-width))
	);
}

@media screen and (min-width: 1140px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	--fc-3xs-min: (var(--fc-s-min) * 0.25);
	--fc-3xs-max: (var(--fc-s-max) * 0.25);

	--fc-2xs-min: (var(--fc-s-min) * 0.5);
	--fc-2xs-max: (var(--fc-s-max) * 0.5);

	--fc-xs-min: (var(--fc-s-min) * 0.75);
	--fc-xs-max: (var(--fc-s-max) * 0.75);

	--fc-s-min: (var(--f-0-min, 21));
	--fc-s-max: (var(--f-0-max, 24));

	--fc-m-min: (var(--fc-s-min) * 1.5);
	--fc-m-max: (var(--fc-s-max) * 1.5);

	--fc-l-min: (var(--fc-s-min) * 2);
	--fc-l-max: (var(--fc-s-max) * 2);

	--fc-xl-min: (var(--fc-s-min) * 3);
	--fc-xl-max: (var(--fc-s-max) * 3);

	--fc-2xl-min: (var(--fc-s-min) * 4);
	--fc-2xl-max: (var(--fc-s-max) * 4);

	--fc-3xl-min: (var(--fc-s-min) * 6);
	--fc-3xl-max: (var(--fc-s-max) * 6);

	/* T-shirt sizes */
	--space-3xs: calc(
		((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-3xs-max) - var(--fc-3xs-min)) *
			var(--fluid-bp)
	);
	--space-2xs: calc(
		((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-2xs-min)) *
			var(--fluid-bp)
	);
	--space-xs: calc(
		((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-xs-min)) *
			var(--fluid-bp)
	);
	--space-s: calc(
		((var(--fc-s-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-s-min)) *
			var(--fluid-bp)
	);
	--space-m: calc(
		((var(--fc-m-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-m-min)) *
			var(--fluid-bp)
	);
	--space-l: calc(
		((var(--fc-l-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-l-min)) *
			var(--fluid-bp)
	);
	--space-xl: calc(
		((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-xl-min)) *
			var(--fluid-bp)
	);
	--space-2xl: calc(
		((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-2xl-min)) *
			var(--fluid-bp)
	);
	--space-3xl: calc(
		((var(--fc-3xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-3xl-min)) *
			var(--fluid-bp)
	);

	/* One-up pairs */
	--space-3xs-2xs: calc(
		((var(--fc-3xs-min) / 16) * 1rem) + (var(--fc-2xs-max) - var(--fc-3xs-min)) *
			var(--fluid-bp)
	);
	--space-2xs-xs: calc(
		((var(--fc-2xs-min) / 16) * 1rem) + (var(--fc-xs-max) - var(--fc-2xs-min)) *
			var(--fluid-bp)
	);
	--space-xs-s: calc(
		((var(--fc-xs-min) / 16) * 1rem) + (var(--fc-s-max) - var(--fc-xs-min)) *
			var(--fluid-bp)
	);
	--space-s-m: calc(
		((var(--fc-s-min) / 16) * 1rem) + (var(--fc-m-max) - var(--fc-s-min)) *
			var(--fluid-bp)
	);
	--space-m-l: calc(
		((var(--fc-m-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-m-min)) *
			var(--fluid-bp)
	);
	--space-l-xl: calc(
		((var(--fc-l-min) / 16) * 1rem) + (var(--fc-xl-max) - var(--fc-l-min)) *
			var(--fluid-bp)
	);
	--space-xl-2xl: calc(
		((var(--fc-xl-min) / 16) * 1rem) + (var(--fc-2xl-max) - var(--fc-xl-min)) *
			var(--fluid-bp)
	);
	--space-2xl-3xl: calc(
		((var(--fc-2xl-min) / 16) * 1rem) + (var(--fc-3xl-max) - var(--fc-2xl-min)) *
			var(--fluid-bp)
	);

	/* Custom pairs */
	--space-s-l: calc(
		((var(--fc-s-min) / 16) * 1rem) + (var(--fc-l-max) - var(--fc-s-min)) *
			var(--fluid-bp)
	);
}
/*-------------------------------------------------------------------------------------------*/
/* fluid tpyography*/
/*-------------------------------------------------------------------------------------------*/
/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
	--fluid-min-width: 320;
	--fluid-max-width: 1140;

	--fluid-screen: 100vw;
	--fluid-bp: calc(
		(var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) /
			(var(--fluid-max-width) - var(--fluid-min-width))
	);
}

@media screen and (min-width: 1140px) {
	:root {
		--fluid-screen: calc(var(--fluid-max-width) * 1px);
	}
}

:root {
	--f--2-min: 14.58;
	--f--2-max: 15.36;
	--step--2: calc(
		((var(--f--2-min) / 16) * 1rem) + (var(--f--2-max) - var(--f--2-min)) *
			var(--fluid-bp)
	);

	--f--1-min: 17.5;
	--f--1-max: 19.2;
	--step--1: calc(
		((var(--f--1-min) / 16) * 1rem) + (var(--f--1-max) - var(--f--1-min)) *
			var(--fluid-bp)
	);

	--f-0-min: 21;
	--f-0-max: 24;
	--step-0: calc(
		((var(--f-0-min) / 16) * 1rem) + (var(--f-0-max) - var(--f-0-min)) *
			var(--fluid-bp)
	);

	--f-1-min: 25.2;
	--f-1-max: 30;
	--step-1: calc(
		((var(--f-1-min) / 16) * 1rem) + (var(--f-1-max) - var(--f-1-min)) *
			var(--fluid-bp)
	);

	--f-2-min: 30.24;
	--f-2-max: 37.5;
	--step-2: calc(
		((var(--f-2-min) / 16) * 1rem) + (var(--f-2-max) - var(--f-2-min)) *
			var(--fluid-bp)
	);

	--f-3-min: 36.29;
	--f-3-max: 46.88;
	--step-3: calc(
		((var(--f-3-min) / 16) * 1rem) + (var(--f-3-max) - var(--f-3-min)) *
			var(--fluid-bp)
	);

	--f-4-min: 43.55;
	--f-4-max: 58.59;
	--step-4: calc(
		((var(--f-4-min) / 16) * 1rem) + (var(--f-4-max) - var(--f-4-min)) *
			var(--fluid-bp)
	);

	--f-5-min: 52.25;
	--f-5-max: 73.24;
	--step-5: calc(
		((var(--f-5-min) / 16) * 1rem) + (var(--f-5-max) - var(--f-5-min)) *
			var(--fluid-bp)
	);
}

/*-------------------------------------------------------------------------------------------*/
/* card flip */
/*-------------------------------------------------------------------------------------------*/
@import url(fonts/Open_Sans/OpenSans-VariableFont_wdthwght.ttf);

:root {
	/* font-size: var(--f--1-min); */
	--level-one: translateZ(6rem);
	--level-two: translateZ(9rem);
	--level-three: translateZ(12rem);

	--fw-normal: 400;
	--fw-bold: 700;

	--clr: #b7c9e5;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	height: 100vh;
	display: grid;
	place-items: center;
	font-family: "Oswald", sans-serif;
	background-color: palegreen;
}

.card {
	width: 70vw;
}

.card__content {
	text-align: center;
	position: relative;
	padding: 20rem 5rem;
	transition: transform 2s;
	transform-style: preserve-3d;
}

.card:hover .card__content {
	transform: rotateY(-0.5turn);
}
.card__front,
.card__back {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5em 3em;
	backface-visibility: hidden;
	transform-style: preserve-3d;
	display: grid;
	align-content: center;
}

.card__front {
	background-color: var(--clr);
	background-image: url(../img/benyafez-studio-_j3o_uUCeis-unsplash.jpg);
	background-size: 100vw vmax;
	background-blend-mode: overlay;
	background-position: 30% 50%;
	color: #000066;
}

.card__front::before {
	content: "";
	position: absolute;
	--spacer: 2vw;
	top: var(--spacer);
	bottom: var(--spacer);
	left: var(--spacer);
	right: var(--spacer);
	border: 0.14vw solid currentColor;
	transform: var(--level-one);
}

.card__back {
	transform: rotateY(0.5turn);
	background-color: var(--clr);
	background-image: url(../img/flipped_benyafez-studio-_j3o_uUCeis-unsplash.jpg);
	background-size: 100vw vmax;
	background-blend-mode: overlay;
	background-position: 70% 50%;
	color: #000066;
}
/* .card__back::before {
	content: "";
	position: absolute;
	--spacer: 2vw;
	top: var(--spacer);
	bottom: var(--spacer);
	left: var(--spacer);
	right: var(--spacer);
	border: 0.14vw solid currentColor;
	transform: var(--level-one);
} */
.card__title {
	font-size: var(--step-5);
	transform: var(--level-three);
	order: 2;
	text-transform: uppercase;
	font-weight: var(--fw-bold);
}

.card__subtitle1 {
	transform: var(--level-two);
	text-transform: uppercase;
	letter-spacing: var(--step-1);
	font-size: var(--step-3);
	order: 1;
	opacity: 0.8;
}
.card__subtitle2 {
	transform: var(--level-two);
	/* u: 3 | l: 1 */
	text-transform: uppercase;
	letter-spacing: var(--step-1);
	font-size: var(--step-1);
	opacity: 0.6;
	order: 3;
}

.card__body {
	transform: var(--level-three);
	font-weight: var(--fw-bold);
	font-size: var(--step-4);
	line-height: 5rem;
	text-transform: uppercase;
}
